<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../assets/styles.css"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MephistoDevelop Site</title>
  </head>
  <body>
    <div id="include">Yo soy el incluyente</div>
    <script>
      window.onload = function() {
        $.get("shared/navbar.html", function(data) {
          $("#include").html(data);
        });
      };
    </script>
  </body>
</html>
