* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
  height: 100vh;
  margin-left: -4px;
  margin-bottom: -5px;
}
#aboutme-text {
  color: black;
  background: transparent;
  position: relative;
  border: none;
  line-height: 2;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}
.button {
  background-color: #384e79;
  border: none;
  border-radius: 10px;
  height: 8%;
  min-height: 40px;
  color: black;
  font-weight: bolder;
  font-size: 16px;
  width: 15%;
  box-shadow: 2px 3px 8px gray;
  min-width: 150px;
  color: white;
  border: 4px solid white !important;
  border-radius: 3px;
  margin-top: 5%;
}
#btnstart:hover {
  border-color: #384e79 !important;
  transition: all 0.5s ease 0s;
  background-color: #dfdfdf;
  color: black;
}
#btnstart {
  animation-duration: 1s;
  animation-name: slideindos;
}
@keyframes slideindos {
  from {
    opacity: 1px;
  }

  to {
    margin-right: 0%;
  }
}

#btnspanish {
  background-size: cover;
  background-image: url(img/spanish.png);
  height: 20px;
  width: 32px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnspanish:hover {
  background-image: url(img/spanish.png);
  height: 26px;
  width: 45px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish {
  background-image: url(img/english.png);
  height: 20px;
  width: 32px;
  border: none;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish:hover {
  height: 26px;
  width: 45px;
}

.btn-1 {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: blue;
  border-radius: 10rem;
  /* display: inline-block;*/
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation-duration: 3s;
  animation-name: slidein;
  margin-left: 40%;
}
@keyframes slidein {
  from {
    margin-left: 110%;
  }

  to {
    margin-left: 40%;
  }
}

.btn-1:hover {
  color: whitesmoke;
  background-color: darken(red, 15%);
  border-radius: 10rem;
  width: 30%;
  margin-left: 36%;
  opacity: 1;
  background-color: black;
  height: auto;
}

.btn-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 1s;
}
.btn-2:hover {
  -webkit-transition-timing-function: cubic-bezier(0.27, 1.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.27, 2.02, 0.31, -0.36);
}
.btn-2 a:hover {
  text-decoration: underline;
}
.center-e {
  margin-top: 8%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke !important;
  background-color: #6c7b95;
  min-height: 320px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  width: 68%;
  font-size: 22px;
  display: block;
  text-align: center;
  min-width: 600px;
}

.char {
  font-size: 32px;
  height: 40px;
  animation: an 4s ease-out 1 both;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0%;
}
#githubicon {
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}
#githubicon:hover {
  width: 40px;
  height: auto;
}
.mylink {
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 0.6rem;
  position: fixed;
  animation-duration: 2s;
  animation-name: slideinlink;
}
@keyframes slideinlink {
  from {
    margin-left: 110%;
  }

  to {
    margin-left: 0%;
  }
}
.mylink a {
  font-family: Calibri;
  color: black;
  opacity: 0.7;
  transition: opacity 0.3s;
  text-decoration: none;
}
.mylink a:hover {
  opacity: 1;
  color: royalblue;
}

.link {
  margin-right: 100px;
}

#navbar-main {
  color: black;
  opacity: 0.8;
  font-size: 14px;
  font-weight: bolder;
  background-color: #b1bed5;
  margin: 0;
  color: whitesmoke !important;
  height: 50px;
  border-bottom: 1px blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: top 0.8s;
}
#navbar-main a {
  color: black;
  font: 14px !important;
  font-weight: bolder;
}
#navbar-main a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  transition: ease-in 0.5;
  animation-duration: 0.5s;
  font-weight: bolder;
  font-size: 16px;
  padding: 0 20px;
  color: white;
}
@keyframes navbar {
  from {
    margin-top: 120%;
  }

  to {
    margin-bottom: 0%;
  }
}
#linkedinicon:hover {
  width: 40px;
  height: auto;
}

#txtmephisto {
  text-decoration: underline;
}
#text {
  margin-top: 4% !important;
}

.buttonfx {
  background-color: #b1bed5;
}

.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #6c7b95; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    -100%,
    0,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: transparent; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}
#aboutme-section {
}

#separator {
  margin-top: 20%;
  margin-bottom: 10%;
  color: black;
  width: 100vw;
  height: 30px;
  background-color: #b1bed5;
  color: black;
  font-weight: bolder;
  font-size: larger;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  height: 100%;
}

@media (min-width: 500px) and (max-width: 991px) {
  .link {
    margin-right: 10px;
  }
  #text {
    font-size: 1.3rem;
  }
  #texto {
    font-size: 1.2rem;
    min-width: 500px;
  }
  .center-e {
    margin-top: 15%;
  }
  .button {
    min-width: 170px;
  }
}
