* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #232323;
  color: #fff;
  font-family: Calibri, sans-serif;
  height: 100vh;
}
.button {
  background-color: #384e79;
  border: none;
  border-radius: 10px;
  height: 10%;
  color: black;
  font-weight: bolder;
  font-size: 28px;
  width: 35%;
  box-shadow: 2px 3px 8px gray;
  min-width: 150px;
  color: white;
  border: 4px solid white !important;
  border-radius: 3px;
  margin-top: 10%;
}
#btnstart:hover {
  border-radius: 50px;
  border-color: #384e79 !important;
  transition: all 1s ease 0s;
}
#btnstart {
  animation-duration: 2s;
  animation-name: slideindos;
}
@keyframes slideindos {
  from {
    margin-right: 150%;
  }

  to {
    margin-right: 0%;
  }
}

#btnspanish {
  background-size: cover;
  background-image: url(img/spanish.png);
  height: 20px;
  width: 32px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnspanish:hover {
  background-image: url(img/spanish.png);
  height: 26px;
  width: 45px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish {
  background-image: url(img/english.png);
  height: 20px;
  width: 32px;
  border: none;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish:hover {
  height: 26px;
  width: 45px;
}

.btn-1 {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: blue;
  border-radius: 10rem;
  /* display: inline-block;*/
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation-duration: 3s;
  animation-name: slidein;
  margin-left: 40%;
}
@keyframes slidein {
  from {
    margin-left: 110%;
  }

  to {
    margin-left: 40%;
  }
}

.btn-1:hover {
  color: whitesmoke;
  background-color: darken(red, 15%);
  border-radius: 10rem;
  width: 30%;
  margin-left: 36%;
  opacity: 1;
  background-color: black;
  height: auto;
}

.btn-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn-2:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: blue;
}
.center-e {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 68%;
  font-size: 22px;
  display: block;
  text-align: center;
  min-width: 600px;
}

.char {
  font-size: 32px;
  height: 40px;
  animation: an 4s ease-out 1 both;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0%;
}
#githubicon {
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}
#githubicon:hover {
  width: 40px;
  height: auto;
}
.mylink {
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 0.6rem;
  position: fixed;
  animation-duration: 3s;
  animation-name: slideinlink;
}
@keyframes slideinlink {
  from {
    margin-left: 110%;
  }

  to {
    margin-left: 0%;
  }
}
.mylink a {
  font-family: Calibri;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s;
  text-decoration: none;
}
.mylink a:hover {
  opacity: 1;
}

#navbar-main {
  animation-duration: 3s;
  animation-name: navbar;
  color: black;
  opacity: 0.8;
  font-size: 18px;
  font-weight: bolder;
  background-color: #384e79;
  margin: 0;
  color: whitesmoke !important;
  height: 50px;
  border-bottom: 1px blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: top 0.8s;
}
#navbar-main a {
  color: whitesmoke;
  font: 18px;
  font-weight: bolder;
}
#navbar-main a:hover {
  background-color: grey;
  height: 100%;
  text-align: center;
  text-decoration: none;
  transition: ease-in 1;
  animation-duration: 3s;
}
@keyframes navbar {
  from {
    margin-top: 120%;
  }

  to {
    margin-bottom: 0%;
  }
}
#linkedinicon:hover {
  width: 40px;
  height: auto;
}
