* {
  box-sizing: border-box;
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: rgba(52, 152, 219, 1);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: rgba(52, 152, 219, 1);
}
.bar.back::before {
  background-color: rgba(52, 152, 219, 1);
}

.bar.learning::before {
  width: calc(80% - 10px);
}
.bar.basic::before {
  width: calc(40% - 10px);
}
.bar.intermediate::before {
  width: calc(60% - 10px);
}
.bar.advanced::before {
  width: calc(70% - 10px);
}
.bar.expert::before {
  width: calc(90% - 10px);
}

#skills-container {
  margin: 5% 5%;
}

#aboutme-description {
  font-weight: 600;
  font-size: 1.3rem;
  min-width: 480px;
  margin: 10% 5%;
  padding: 10px 20px;
  color: #384e79 !important;
  min-width: 110px;
  text-align: center;
}
#aboutme-text {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  color: rgba(236, 240, 241, 1) !important;
  min-width: 110px;
}
#aboutme-text:hover {
  /* color: whitesmoke !important; */
}
#card-contact {
  min-height: 400px;
  border: none;
}

.input-form::placeholder {
  color: whitesmoke;
  font-weight: bolder;
  margin: 5px;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
  height: 100vh;
  margin-left: -4px;
  margin-bottom: -5px;
}
#aboutme-text {
  color: black;
  background: transparent;
  position: relative;
  border: none;
  line-height: 2;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}
#img-battleship {
  width: 70%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
#img-socialbook {
  width: 70%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#img-socialbook:hover {
  opacity: 0.6;
}
.button {
  background-color: rgba(52, 152, 219, 1);
  border: none;
  border-radius: 10px;
  min-height: 40px;
  color: #72b5b7;
  font-weight: bolder;
  font-size: 16px;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 150px;
  color: white;
  border: 4px solid rgba(0, 0, 255, 0.3) !important;
  border-radius: 3px;
  margin-top: 5%;
  padding-top: 3px;
}
.button-mock {
  padding: 5px;
  margin: 5px 5px;
  height: 100%;
}
.button-mock:hover {
  transform: scale(1.1);
}
#btnstart:hover {
  transition: all 0.5s ease 0s;
  color: #384e79;
  text-decoration: none;
  text-align: center;
  border: 4px solid #384e79 !important;
}
#btnstart {
  text-align: center;
}
@keyframes slideindos {
  from {
    opacity: 1px;
  }

  to {
    margin-right: 0%;
  }
}

#btnspanish {
  background-size: cover;
  background-image: url(img/spanish.png);
  height: 20px;
  width: 32px;
  border: none;
  max-width: 34px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnspanish:hover {
  height: 26px;
  width: 38px;
  background-image: url(img/spanish.png);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish {
  background-image: url(img/english.png);
  height: 20px;
  width: 32px;
  border: none;
  background-size: cover;
  max-width: 34px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnenglish:hover {
  height: 26px;
  width: 38px;
}

.btn-1 {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: blue;
  border-radius: 10rem;
  /* display: inline-block;*/
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation-duration: 3s;
  animation-name: slidein;
  margin-left: 40%;
}
@keyframes slidein {
  from {
    margin-left: 110%;
  }

  to {
    margin-left: 40%;
  }
}

.btn-1:hover {
  color: whitesmoke;
  background-color: darken(red, 15%);
  border-radius: 10rem;
  width: 30%;
  margin-left: 36%;
  opacity: 1;
  background-color: black;
  height: auto;
}

.btn-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 1s;
}
.btn-2:hover {
  -webkit-transition-timing-function: cubic-bezier(0.27, 1.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.27, 2.02, 0.31, -0.36);
}
.btn-2 a:hover {
  text-decoration: underline;
}
#background {
  z-index: -1;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 100;
}
#background2 {
  height: 500px;
  z-index: -1;
  background-color: #ecb390 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 500px;
}
/*
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.center-e {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #384e79;
  min-height: 380px;
}

p {
  width: 68%;
  font-size: 22px;
  display: block;
  text-align: center;
  min-width: 600px;
}

.char {
  font-size: 32px;
  height: 40px;
  animation: an 4s ease-out 1 both;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0%;
}
#githubicon {
  z-index: 1;
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}

#backtop {
  font-size: 28px;
  position: absolute;
  bottom: 50px;
  margin-left: 180px;
  transition: 1s;
}
.input-form {
  background-color: #2980b9;
  border: none;
  margin: 5px 0;
  color: white;
  padding: 10px;
}
.footer {
  z-index: -100;
  font-size: 10px;
  opacity: 0.6;
  height: 50px;
  background-color: #2980b9;
  margin-top: 5%;
  color: whitesmoke;
  font-weight: bolder;
}

.mylink {
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 0.6rem;
  position: fixed;
  animation-duration: 2s;
  animation-name: slideinlink;
  z-index: 100;
}
@keyframes slideinlink {
  from {
    margin-left: 150%;
  }

  to {
    margin-left: 0%;
  }
}
.mylink a {
  font-family: Calibri;
  color: black;
  opacity: 0.7;
  transition: opacity 0.3s;
  text-decoration: none;
}
.mylink a:hover {
  opacity: 1;
  color: royalblue;
}

.link {
  margin-right: 100px;
}

#navbar-main {
  padding: 10px 10% !important;
  font-size: 14px;
  font-weight: bolder;
  background-color: #2980b9;
  margin: 0;
  color: rgba(189, 195, 199, 1) !important;
  height: 50px;
  border-bottom: 1px blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: top 0.8s;
}
#form-contact {
  flex-direction: column;
  margin: 3% 0;
  width: 50%;
  height: auto !important;
}

#form-text {
  font-size: 14px;
  font-weight: bold;
  max-width: 400px;
  color: #384e79;
}
#navbar-main a {
  color: black;
  font: 14px !important;
  font-weight: bolder;
  padding: 0 20px;
}
#navbar-main a:hover {
  text-align: center;
  text-decoration: none;
  transition: ease-in 0.5;
  animation-duration: 0.5s;
}
@keyframes navbar {
  from {
    margin-top: 120%;
  }

  to {
    margin-bottom: 0%;
  }
}

#txtmephisto {
  text-decoration: underline;
}
#text {
  margin-top: 4% !important;
}
#photo-me-container {
  display: flex;
  justify-content: center;
}
#photo-me {
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 22vw;
  height: 78%;
  background-size: cover;
  -moz-border-radius: 5%;
  -webkit-border-radius: 0%;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-name: slideinphoto;
  z-index: 100;
}
@keyframes slideinphoto {
  from {
    margin-left: 70%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1px;
  }
}
.buttonfx {
  background-color: #72b5b7;
}

.buttonfx:before,
.buttonfx:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 152, 219, 1);
  /* onhover background color */
  z-index: -1;
  transform: translate3D(
    -110%,
    0,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: transparent; /* button default background color */
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}
.separator {
  margin-top: 5%;
  margin-bottom: 2%;
  color: #f1fcfc;
  width: 100vw;
  height: 30px;
  background-color: rgba(52, 152, 219, 1) !important;
  font-weight: bolder;
  font-size: larger;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  height: 100%;
}
#txtmessage {
  min-height: 100px;
}
#mock1-container {
  display: flex;
  align-items: center;
  border: none !important;
}
.mock-title {
  color: #2980b9;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.mock-text {
  color: rgba(52, 152, 219, 1);
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}
#img-battleship {
  margin-top: 5%;
}
#buttons-hide {
  display: flex;
  align-items: initial;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 5px solid blue;
}
@keyframes fadein {
  from {
    opacity: 0;
    top: 100px;
    left: 100%;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    position: relative;
    opacity: 0;
    top: -100%;
    left: -100%;
  }
  to {
    opacity: 1;
    top: 0;
    left: 0;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#texto {
  font-size: 1.2rem;
  min-width: 480px;
  /*  animation: fadein 5s; */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
}

@media (min-width: 500px) and (max-width: 991px) {
  #photo-me {
    width: 100%;
    height: 50%;
  }
  #skillset-container {
    margin: 0;
    padding: 0;
  }
  #aboutme-description {
    font-size: 0.9rem;
  }
  .link {
    margin-right: 0.2rem;
  }

  #text {
    font-size: 1.3rem;
  }
  #texto {
    font-size: 1.2rem;
    min-width: 480px;
    /*  animation: fadein 5s; */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
  }

  .center-e {
    margin-top: 15%;
  }
  .button {
    min-width: 170px;
  }
  #navbar-main {
    min-width: 630px;
  }
  #navbar-main a {
    font-size: 11px;
  }
  #aboutme-text {
    padding: 0 !important;
  }
  #navbar-main {
    padding: 0 20px !important;
  }
  #form-contact {
    width: 100%;
  }
  #buttons-hide {
    padding-bottom: 20px !important;
  }
  #photo-me-container {
    height: 80vh;
    display: contents;
  }
  #photo-me {
    margin-top: 15%;
  }
}
