<nav class="navbar fixed-top navbar-light" id="navbar-main">
  <div class="ml-3 align-middle" id="flags">
    <button
      class="btn-2"
      onclick="window.location ='index-es.html'"
      id="btnspanish"
    ></button>
    <button class="btn-2" id="btnenglish"></button>
  </div>
  <a class="btn-2" id="aboutme-text" href="#">About me</a>
  <a class="btn-2" id="skills-text" href="#">Skills</a>
  <a class="btn-2" id="contact-text" href="#">Contact</a>
  <a class="mr-3 btn-2" id="resume-text" href="#">Resume</a>
  <a class="btn-2 mr-5" id="projects-text" href="#">Projects</a>
</nav>
